:root {
  --dark-black: #1a1a1a;
  --dark-gray: #333;
  --light-gray: #f2f4f7;
  --light-black: #333;
  --light-white: #fff;
  --primary: #9264a8;
  --secondary: #6c757d;
  --shadow: #9264a87b;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

#root {
  text-align: left;
  max-width: unset;
  padding: unset;
  margin: unset;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Baloo 2', sans-serif !important;
  font-style: normal;
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.content {
  flex: 1;
}

a {
  text-decoration: unset !important;
  color: var(--dark-black);
}

a:hover {
  text-decoration: unset;
  color: var(--primary);
}



.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.btn-light {
  border-color: var(--primary) !important;
  color: var(--primary) !important;
}

.btn-light:hover {
  background: var(--light-white) !important;
}

.form-check-input:checked {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem var(--shadow) !important;
}

.form-control:focus {
  border-color: var(--primary) !important;
  box-shadow: 0 0 0 0.15rem var(--shadow) !important;
}

.input-group {
  .btn {
    border-color: #dde1e5;
  }

  .btn:hover {
    background-color: white;
    color: #18191a;
    border-color: #dde1e5;
  }
}

.nav-stiky {
  position: fixed;
  width: 100%;
  z-index: 1000;

  img {
    height: 35px;
  }

  .navbar {
    background-color: #f2f4f7;
  }

  .nav-item {
    font-size: 1.25rem;
  }

  .nav-link {
    letter-spacing: .25px;
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 1.875rem;
  }

  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    border-bottom: 2.5px solid var(--dark-black);
    color: var(--dark-black);
    font-weight: 500;
  }

  .cart {
    font-size: 25px;
    margin-left: 20px;

    span {
      position: absolute;
      background: red;
      color: white;
      width: 20px;
      height: 20px;
      font-size: 13px;
      justify-content: center;
      display: flex;
      border-radius: 100%;
      top: 8px;
      right: 6px;
      align-items: center;
    }
  }


}

.sidebare {
  .card {
    background-color: #f2f4f7;
  }

  .collapse-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #6b7280;
  }

  .collapse-value {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #18191a;
  }

  .filter-border {
    border: 1px solid #d6d6d6;
    margin-bottom: 16px;
  }

  .form-check-label {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .btn {
    padding: 6px 35px;
    border-radius: 8px;
    font-weight: 600;
  }

  @media screen and (max-width: 1224px) {
    .btn {
      padding: 6px 25px;
    }
  }

  @media screen and (max-width: 1024px) {
    .btn {
      padding: 6px 20px;
    }
  }

  @media screen and (max-width: 820px) {
    .btn {
      padding: 6px 15px;
    }

  }

  @media screen and (max-width: 768px) {
    .btn {
      padding: 6px 15px;
    }
  }

}

.home {
  margin-top: -96px;

  .sc-gjcoXW {
    height: 300px !important;
    width: 300px !important;
  }

  .banner {
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }

  .category {
    text-align: center;

    .card {

      padding: 5px;
    }

    img {
      height: 140px;
      width: 100%;
      object-fit: contain
    }
  }
}

footer {
  background: #f2f4f7;
  padding: 40px 0px 5px 0px;

  .quick-link {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      font-size: 16px;
      line-height: 1.4;
    }

    li:hover {
      color: var(--secondary);
    }
  }

  .contact {
    font-size: 16px;

    i {
      font-size: 20px;
      padding-right: 10px;
    }
  }
}

.product {
  .card {
    background-color: #f2f4f7;
    border: 1px solid #f2f4f7;
    border-radius: 12px;
  }

  .card:hover {
    background-color: white;
    box-shadow: 0px 0px 6px 0px gray;
  }

  .produt-image {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 300px;
    object-fit: contain;
    padding: 6px 5px;

  }

  .discount_price {
    font-size: 18px;
    font-weight: 600;
  }

  .price {
    color: gray;
    font-size: 18px;
    font-weight: 600;
    text-decoration: line-through;
  }


  .product-name {
    color: var(--dark-black);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
  }

  .product-text {
    color: var(--dark-charcoal);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }


}


.product-details {
  padding-top: 25px;

  .productimg {
    height: 350px;
    width: auto;
    object-fit: cover;
    border-radius: 8px;
  }

  .product_img_list {
    overflow-y: auto;
    display: flex;
    flex-wrap: nowrap;

    img {
      height: 100px;
      width: 100px;
      object-fit: contain;
      border: 1px solid gray;
      margin: 5px 5px;
      border-radius: 5px;
    }

    img:hover {
      box-shadow: 0px 0px 3px 0px gray;
    }
  }
}

.cart {
  .pimg {
    height: 80px;
    width: 80px;
    object-fit: contain;
  }
}

.contact3 {

  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #3e4555;
  }

  .contact .font-weight-medium {
    font-weight: 500;
  }

  .card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  }

  .btn-danger-gradiant {
    background: #ff4d7e;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
    background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
  }

  .btn-danger-gradiant:hover {
    background: #ff6a5b;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
    background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
  }
}

.login {

  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }

  .h-custom {
    height: calc(100% - 73px);
  }

  @media (max-width: 450px) {
    .h-custom {
      height: 100%;
    }
  }
}